.room-manager {
    background-color: #202124;
}

.room-manager-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #202124;
}

.room-info {
    width: 100%;
    position: fixed;
    left: 15px;
    bottom: 15px;

    display: flex;
    align-items: center;
}

.room-action {
    width: 100%;
    position: fixed;
    bottom: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
}