.video-preview {
    width: 100%;
    height: 100%;
    position: relative;

    video {
        width: 650px;
        height: 490px;
        border-radius: 2%;
    }

    .video-options {
        position: absolute;
        bottom: 12px;
        left: 30px;
        z-index: 1000;
    }

    .is-talking {
        border: 5px solid rgb(125, 125, 177);
    }
}

.non-video {
    border-radius: 2%;
    border: 5px solid rgb(125, 125, 177);
    background-color: #202124;
    position: absolute;
    width: 650px;
    height: 490px;

    display: flex;
    justify-content: center;
    align-items: center;
}
